body{
    height: 100vh;
    background-image: linear-gradient(rgb(107, 206, 212) 50px, rgb(241, 206, 206) 300px, rgb(107, 206, 212));
}
.give-col{
    text-shadow: 2px 4px 4px rgba(204, 231, 235, 0.491);
    text-align: center;
}
.btn1 {
    background-color:rgb(180, 199, 192);
    border: 2px solid;
    border-radius: 20px;
    height: 50px;
    position: absolute;
    left: 240px;
    top: 150px;

}
.btn2 {
    background-color:rgb(180, 199, 192);
    border: 2px solid;
    border-radius: 20px;
    height: 50px;
    position: absolute;
    right: 240px;
    top: 150px;

}
.btn1:hover{
   background-color: rgb(0, 255, 234);
}
.btn2:hover{
   background-color: rgb(0, 255, 234);
}


.colored{
    width: 400px;
    height: 250px;
    text-align: center;
    background-image: linear-gradient(
        rgb(0, 255, 229), rgb(215, 235, 230), rgb(96, 203, 249)
    );
    border: 2px solid;
    border-radius: 40px;
    position: absolute;
    left: 80px;
    top: 280px;
}
.colored h4{
    color: rgb(0, 4, 255);
}
.chagecolor{
    width: 400px;
    height: 250px;
    text-align: center;
    background-image: linear-gradient(
        rgb(246, 12, 242), rgb(237, 131, 202), rgb(213, 55, 150)
    );
    border: 2px solid;
    border-radius: 40px;
    position: absolute;
    right: 80px;
    top: 280px;
}
.chagecolor h4{
    color: blue;
}